# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/
.idea/
*.swp
*.swo

# Vercel
.vercel/
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# Node (au cas où tu ajoutes des dépendances plus tard)
node_modules/
